<div class="container">
    @if(ViewBag.Error != null)
    {
        <div class="row">
            <div class="col alert alert-danger">
                @ViewBag.Error
            </div>
        </div>
    }
    <div class="row">
         <div class="col">
             <partial name="SignIn" />
         </div>
         <div class="col">
             <partial name="Login" />
         </div>
    </div>
</div>