html,body {
    height: 100%;
}
#parent {
    display: flex;
    /*flex-direction: row-reverse;
    flex-wrap: wrap; */
    flex-flow: column wrap;
    justify-content: space-around;
    height: 70%;
    /* align-items: center; */
}

.bloc {
    margin: 10px;
    height: 200px;
    width: 100px;
}

.bloc1 {
    background-color: blue;
    /* order: 2;
    flex-grow: 2;
    /* align-self: flex-end; */
    /* align-self: stretch;  */
}
.bloc2 {
    background-color: red;
    /* order: 3;
    flex-grow: 3; */
}
.bloc3 {
    background-color: greenyellow;
    /* order: 1;
    flex-grow: 1; */
}