div {
    width: 200px;
    height: 200px;
    margin: 10px;
    background-color: black;
    float: left ;
}
.blocParent {
    width: 600px;
    height: 600px;
    background-color: aqua;
    position: relative;
}
.bloc1 {
    background-color: blue;
    /* position: absolute; */
    position: fixed;
    right: 10px;
    top: 0px;
}

.bloc2 {
    background-color: red;
    position: absolute;
    right: 0;
}

.bloc3 {
    background-color: tomato;
    /* float: right; */
}

.stopFloat {
    
    background-color: blue;
}