@keyframes progress {
    from {
        width: 0%;
    }
    25% {
        width: 25%;
    }
    50% {
        width: 50%;
    }
    75% {
        width: 75%;
    }
    to {
        width: 100%;
    }
}
html {
    height: 100%;
}
body {
    display: flex;
    flex-flow: row;
    align-items: center;
    height: 100%;
}
.background {
    width: 300px;
    height: 10px;
    border-radius: 5px;
    background-color: #efefef;
    position: relative;
    margin: auto;
}
.progress {
    background-color: greenyellow;
    width: 0%;
    position: absolute;
    top: 0;
    height: 100%;
    animation-name: progress;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-in-out;
}
