
<div class="container">
    @if(Model != null)
    {
        <div class="alert alert-success m-1">
            <div class="row">
                <div class="col">
                    Contact @Model.Nom @Model.Prenom ajouté
                </div>
            </div>
        </div>
    }
    <form enctype="multipart/form-data" method="post" asp-controller="Contact" asp-action="SubmitContact">
        <div class="row m-1">
            <input multiple type="file" class="col form-control" placeholder="Image" name="image" />
        </div>
        <div class="row m-1">
            <input type="text" class="col form-control" placeholder="Nom contact" name="nom" />
        </div>
        <div class="row m-1">
            <input type="text" class="col form-control" placeholder="Prénom contact" name="prenom" />
        </div>
        <div class="row m-1">
            <button type="submit" class="col btn btn-danger">Valider</button>
        </div>
    </form>
</div>