<div class="container">
    <partial src="~/Views/Shared/Error.cshtml" />
    <form enctype="multipart/form-data" method="post" asp-controller="Product" asp-action="SubmitForm">
        <div class="row m-1">
            <input type="text" name="title" placeholder="Titre du produit" class="form-control col" />
        </div>
        <div class="row m-1">
            <input type="number" name="price" placeholder="Prix du produit" class="form-control col" />
        </div>
        <div class="row m-1">
            <input type="file" multiple name="imagesProduct" placeholder="Images du produit" class="form-control col" />
        </div>
        <div class="row m-1">
            <textarea class="form-control col" name="description" placeholder="Description du produit"></textarea>
        </div>
        <div class="row m-1">
            <button type="submit" class="col btn btn-info form-control">Valider</button>
        </div>
    </form>
</div>