@if(ViewBag.Error != null)
{
    <div class="container">
        <div class="row m-1">
            <div class="col alert alert-danger">
                @ViewBag.Error
            </div>
        </div>
    </div>
}
