<div class="container">
    <form enctype="multipart/form-data" method="post" asp-controller="Categorie" asp-action="SubmitCategorie">
        <div class="row m-1">
            <input type="text" name="title" placeholder="Nom de la catégorie" class="form-control col" />
        </div>
        <div class="row m-1">
            <button type="submit" class="col btn btn-info form-control">Valider</button>
        </div>
    </form>
</div>